<h1>genres</h1>
<a href="/genres/form">add a new genre</a>
<ul>
 {{#each genres}}
   <li> 
      <a href="/genres/form?id={{this.id}}">{{this.id}}: {{this.name}}</a>
      <a href="/genres/edit?id={{@index}}">edit</a>
    </li>
 {{/each}}
</ul>