<h1>books</h1>
<a href="books/form">add a new book</a>
<ul>
 {{#each books}}
   <li>
    {{@index}} - {{this.title}} {{this.publicationYear}}
    <a href="/books/edit?id={{@index}}">edit</a>
  </li>
 {{/each}}
</ul>