<h1>log in</h1>
<form action="/users/login" role="form" method="post">
<input type="hidden" name="_csrf" value="{{_csrfToken}}">
  <div>
    <label for="email">email</label>
    <input type="email" id="email" name="email">
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
</form>